Repository mauriciopoppe/function-plot, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, src, storybook, site, tests, automation, invalid

1.23.4
  package-lock.json
  package.json
Labels: src

Export function to register new graph types
  src/chart.ts
  src/datum-defaults.ts
  src/globals.ts
  src/graph-types/types.ts
  src/index.ts
  src/samplers/builtIn.ts
  src/samplers/interval.ts
  src/tip.ts
  src/utils.ts
  tsconfig.json
Labels: src

Setup image snapshot testing with puppeteer and jest-image-snapshot
  .gitignore
  jest-puppeteer.config.js
  jest.config.cjs
  package-lock.json
  package.json
  puppeteer.config.cjs
  site/css/normalize.css
  site/css/reset.css
  site/index.html
  site/jest-function-plot.html
  site/playground.html
  src/evaluate.test.js
  test/e2e/__image_snapshots__/graphs-test-js-function-plot-should-render-an-x-2-graph-1-snap.png
  test/e2e/graphs.test.js
Labels: src, site, tests

Fix an issue with ghost graphs, additional snapshot test images
  .github/workflows/build-and-test.yml
  site/jest-function-plot.html
  src/chart.ts
  test/e2e/__image_snapshots__/graphs-test-js-function-plot-should-evaluate-with-multiple-samples-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-js-function-plot-should-render-a-grid-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-js-function-plot-should-render-an-x-2-graph-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-js-function-plot-should-render-annotations-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-js-function-plot-should-render-closed-paths-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-js-function-plot-should-render-different-graph-types-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-js-function-plot-should-render-distinct-domains-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-js-function-plot-should-render-logarithmic-scales-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-js-function-plot-should-render-with-additional-options-1-snap.png
  test/e2e/graphs.test.js
Labels: src, site, automation

Setup image snapshot testing with puppeteer and jest-image-snapshot
  .gitignore
  jest-puppeteer.config.js
  jest.config.cjs
  package-lock.json
  package.json
  puppeteer.config.cjs
  site/css/normalize.css
  site/css/reset.css
  site/index.html
  site/jest-function-plot.html
  site/playground.html
  src/evaluate.test.js
  test/e2e/__image_snapshots__/graphs-test-js-function-plot-should-render-an-x-2-graph-1-snap.png
  test/e2e/graphs.test.js
Labels: src, site, tests

Fix an issue with ghost graphs, additional snapshot test images
  .github/workflows/build-and-test.yml
  site/jest-function-plot.html
  src/chart.ts
  test/e2e/__image_snapshots__/graphs-test-js-function-plot-should-evaluate-with-multiple-samples-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-js-function-plot-should-render-a-grid-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-js-function-plot-should-render-an-x-2-graph-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-js-function-plot-should-render-annotations-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-js-function-plot-should-render-closed-paths-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-js-function-plot-should-render-different-graph-types-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-js-function-plot-should-render-distinct-domains-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-js-function-plot-should-render-logarithmic-scales-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-js-function-plot-should-render-with-additional-options-1-snap.png
  test/e2e/graphs.test.js
Labels: src, site, automation

Export function to register new graph types
  src/chart.ts
  src/datum-defaults.ts
  src/globals.ts
  src/graph-types/types.ts
  src/index.ts
  src/samplers/builtIn.ts
  src/samplers/interval.ts
  src/tip.ts
  src/utils.ts
  tsconfig.json
Labels: src

Minimize dependency on `Chart` in space utility.
  src/samplers/builtIn.ts
  src/samplers/interval.ts
  src/utils.ts
Labels: src

SamplerType is a subset of the only params neeeded from the Chart
  src/chart.ts
  src/evaluate.ts
  src/helpers/secant.ts
  src/samplers/builtIn.ts
  src/samplers/interval.ts
  src/samplers/types.ts
  src/types.ts
  src/utils.ts
Labels: src

Minimize dependency on `Chart` in space utility.
  src/samplers/builtIn.ts
  src/samplers/interval.ts
  src/utils.ts
Labels: src

SamplerType is a subset of the only params neeeded from the Chart
  src/chart.ts
  src/evaluate.ts
  src/helpers/secant.ts
  src/samplers/builtIn.ts
  src/samplers/interval.ts
  src/samplers/types.ts
  src/types.ts
  src/utils.ts
Labels: src

chore: Rename public pages
  site/playground-render-as-img.html
  site/playground-scale.html
  site/playground.html
  site/sampling.html
Labels: src, site

Fix issue in computed data split, remove clamp dependency
  package.json
  src/evaluate.ts
  src/external.d.ts
  src/graph-types/polyline.ts
  src/graph-types/scatter.ts
  src/helpers/derivative.ts
  src/helpers/secant.ts
  src/samplers/builtIn.test.js
  src/samplers/builtIn.ts
  src/tip.ts
  src/utils.ts
Labels: src, tests

Fix issue in computed data split, remove clamp dependency
  package.json
  src/evaluate.ts
  src/external.d.ts
  src/graph-types/polyline.ts
  src/graph-types/scatter.ts
  src/helpers/derivative.ts
  src/helpers/secant.ts
  src/samplers/builtIn.test.js
  src/samplers/builtIn.ts
  src/tip.ts
  src/utils.ts
Labels: src, tests

chore: cleanup public playground pages
  site/jest-function-plot.html
  site/playground-render-as-img.html
  site/playground-scale.html
  site/playground.html
  site/sampling.html
Labels: src, site

fix: set key to use during join of g.graph
  src/chart.ts
  test/e2e/__image_snapshots__/graphs-test-js-function-plot-should-render-different-graph-types-1-snap.png
Labels: src

feat: new graph type text
  src/graph-types/index.ts
  src/graph-types/scatter.ts
  src/graph-types/text.ts
  src/index.ts
  src/types.ts
  test/e2e/__image_snapshots__/graphs-test-js-function-plot-should-render-text-1-snap.png
  test/e2e/graphs.test.js
Labels: src

docs: add text example
  site/js/site.js
  site/partials/examples.html
Labels: src, site

docs: add text example
  site/js/site.js
  site/partials/examples.html
Labels: src, site

chore: cleanup public playground pages
  site/jest-function-plot.html
  site/playground-render-as-img.html
  site/playground-scale.html
  site/playground.html
  site/sampling.html
Labels: src, site

fix: set key to use during join of g.graph
  src/chart.ts
  test/e2e/__image_snapshots__/graphs-test-js-function-plot-should-render-different-graph-types-1-snap.png
Labels: src

feat: new graph type text
  src/graph-types/index.ts
  src/graph-types/scatter.ts
  src/graph-types/text.ts
  src/index.ts
  src/types.ts
  test/e2e/__image_snapshots__/graphs-test-js-function-plot-should-render-text-1-snap.png
  test/e2e/graphs.test.js
Labels: src

chore: update package-lock.json after removing clamp
  package-lock.json
Labels: src

Updates
  css/normalize.css
  css/reset.css
  docs/assets/search.js
  docs/classes/Chart.html
  docs/functions/EvalInterval.html
  docs/functions/GraphTypeInterval.html
  docs/functions/GraphTypePolyline.html
  docs/functions/default-1.html
  docs/functions/registerGraphType.html
  docs/index.html
  docs/interfaces/ChartMeta.html
  docs/interfaces/ChartMetaMargin.html
  docs/interfaces/FunctionPlotAnnotation.html
  docs/interfaces/FunctionPlotDatum.html
  docs/interfaces/FunctionPlotDatumDerivative.html
  docs/interfaces/FunctionPlotDatumScope.html
  docs/interfaces/FunctionPlotDatumSecant.html
  docs/interfaces/FunctionPlotOptions.html
  docs/interfaces/FunctionPlotOptionsAxis.html
  docs/interfaces/FunctionPlotTip.html
  docs/interfaces/Interval.html
  docs/modules.html
  docs/modules/default.html
  docs/types/Function.html
  docs/types/FunctionPlotScale.html
  docs/variables/default._eval.html
  docs/variables/default.globals.html
  docs/variables/default.graphTypes.html
  index.html
  jest-function-plot.html
  js/function-plot.js
  js/site.js
  partials/examples.html
  playground-render-as-img.html
  playground-scale.html
  playground.html
  sampling.html
Labels: src

chore: include missing typescript types/interfaces
  src/globals.ts
  src/index.ts
Labels: src

Updates
  docs/assets/search.js
  docs/classes/Chart.html
  docs/functions/EvalBuiltIn.html
  docs/functions/EvalInterval.html
  docs/functions/default-1.html
  docs/index.html
  docs/interfaces/ChartMeta.html
  docs/interfaces/ChartMetaMargin.html
  docs/interfaces/FunctionPlotAnnotation.html
  docs/interfaces/FunctionPlotDatum.html
  docs/interfaces/FunctionPlotDatumDerivative.html
  docs/interfaces/FunctionPlotDatumScope.html
  docs/interfaces/FunctionPlotDatumSecant.html
  docs/interfaces/FunctionPlotOptions.html
  docs/interfaces/FunctionPlotOptionsAxis.html
  docs/interfaces/FunctionPlotTip.html
  docs/interfaces/Interval.html
  docs/modules.html
  docs/modules/default.html
  docs/types/Function.html
  docs/types/FunctionPlotScale.html
  docs/types/GraphTypeBuilder.html
  docs/types/GraphTypePlotter.html
  docs/types/TGlobals.html
  docs/variables/default._eval.html
  docs/variables/default.globals.html
  docs/variables/default.graphTypes.html
Labels: src

1.24.0
  package-lock.json
  package.json
Labels: src

feat: add interval sampler unit tests
  site/index.html
  src/index.ts
  src/samplers/builtIn.ts
  src/samplers/interval.test.js
  src/samplers/interval.ts
  src/types.ts
Labels: src, site, tests

chore: only run github actions on PRs
  .github/workflows/build-and-test.yml
Labels: src, automation

Make functionPlot an esm module
  babel.config.cjs
  jest-puppeteer.config.cjs
  package-lock.json
  package.json
  site.cjs
  tsconfig.json
  webpack.config.cjs
Labels: src

Make functionPlot an esm module
  babel.config.cjs
  jest-puppeteer.config.cjs
  package-lock.json
  package.json
  site.cjs
  tsconfig.json
  webpack.config.cjs
Labels: src

Updates
  docs/assets/search.js
  docs/classes/Chart.html
  docs/functions/EvalBuiltIn.html
  docs/functions/EvalInterval.html
  docs/functions/default-1.html
  docs/functions/registerGraphType.html
  docs/interfaces/ChartMeta.html
  docs/interfaces/ChartMetaMargin.html
  docs/interfaces/FunctionPlotAnnotation.html
  docs/interfaces/FunctionPlotDatum.html
  docs/interfaces/FunctionPlotDatumDerivative.html
  docs/interfaces/FunctionPlotDatumScope.html
  docs/interfaces/FunctionPlotDatumSecant.html
  docs/interfaces/FunctionPlotOptions.html
  docs/interfaces/FunctionPlotOptionsAxis.html
  docs/interfaces/FunctionPlotTip.html
  docs/interfaces/Interval.html
  docs/modules/default.html
  docs/types/Function.html
  docs/types/FunctionPlotScale.html
  docs/types/GraphTypeBuilder.html
  docs/types/GraphTypePlotter.html
  docs/types/TGlobals.html
  docs/variables/default._eval.html
  docs/variables/default.globals.html
  docs/variables/default.graphTypes.html
  index.html
  js/function-plot.js
Labels: src

Set up a performance testing pipeline
  .github/workflows/build-and-test.yml
  design/pipeline.md
  src/graph-types/interval.ts
  src/perf/interval-pipeline.ts
Labels: src, automation

Set up a performance testing pipeline
  .github/workflows/build-and-test.yml
  design/pipeline.md
  src/graph-types/interval.ts
  src/perf/interval-pipeline.ts
Labels: src, automation

chore: update README resources, pipeline scope
  README.md
  design/pipeline.md
  src/samplers/interval.ts
Labels: documentation, src

Introduce a web worker pool to evaluate interval functions in web workers
  .gitignore
  babel.config.cjs
  design/web-workers.md
  jest.config.cjs
  package-lock.json
  package.json
  site/index.html
  site/jest-function-plot.html
  site/playground.html
  src/evaluate.test.js
  src/evaluate.ts
  src/globals.ts
  src/graph-types/interval.ts
  src/graph-types/polyline.ts
  src/graph-types/scatter.ts
  src/index.ts
  src/perf/interval-pipeline.ts
  src/samplers/index.ts
  src/samplers/interval.test.ts
  src/samplers/interval.ts
  src/samplers/interval.worker.ts
  src/samplers/interval_worker_pool.ts
  src/samplers/types.ts
  src/types.ts
  src/utils.ts
  tsconfig.json
  webpack.config.cjs
Labels: src, site, tests

feat: add perf test comparing the performance of web workers and current algorithm
  package-lock.json
  package.json
  src/helpers/derivative.ts
  src/helpers/eval.mjs
  src/helpers/secant.ts
  src/index.ts
  src/perf/interval-pipeline.ts
  src/samplers/builtIn.ts
  src/samplers/interval.ts
  src/samplers/interval.worker.mjs
  src/samplers/interval_worker_pool.ts
  src/tip.ts
  tsconfig.json
Labels: src

Pass a Float32 array back and forth between the main thread and workers
  site/playground.html
  src/chart.ts
  src/evaluate.ts
  src/globals.mjs
  src/graph-types/interval.ts
  src/graph-types/polyline.ts
  src/graph-types/scatter.ts
  src/graph-types/text.ts
  src/helpers/derivative.ts
  src/helpers/secant.ts
  src/index.ts
  src/perf/interval-pipeline.ts
  src/samplers/builtIn.ts
  src/samplers/interval.test.ts
  src/samplers/interval.ts
  src/samplers/interval.worker.mjs
  src/samplers/interval_worker_pool.ts
  src/samplers/types.ts
  src/tip.ts
  src/utils.mjs
  src/utils.test.ts
  src/utils.ts
Labels: src, site

Skip working on low priority tasks because of a new oncoming task.
  site/playground.html
  src/chart.ts
  src/perf/interval-pipeline.ts
  src/samplers/interval.ts
  src/samplers/interval.worker.mjs
  src/samplers/interval_worker_pool.ts
Labels: src, site

docs: update the design doc with the implementation info
  design/web-workers.md
  src/samplers/interval.ts
Labels: src

.github/labeler.yml:

documentation:
  - 'README.md'
  - 'DEVELOPMENT.md'

src:
  - 'src/**/*'
  - '!src/stories/*'

storybook:
  - '.storybook/*'
  - 'src/stories/*'

site:
  - 'site/**'
  - 'site.js'

tests:
  - 'src/**/*.test.js'
  - 'jest.config.js'

automation:
  - '.github/workflows/*'

invalid:
  - 'LICENSE'
