Repository mauriciopoppe/function-plot, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, src, storybook, site, tests, automation, invalid

.github/labeler.yml:

documentation:
  - 'README.md'
  - 'DEVELOPMENT.md'

src:
  - 'src/**/*'
  - '!src/stories/*'

storybook:
  - '.storybook/*'
  - 'src/stories/*'

site:
  - 'site/**'
  - 'site.js'

tests:
  - 'src/**/*.test.js'
  - 'jest.config.js'

automation:
  - '.github/workflows/*'

invalid:
  - 'LICENSE'

fix: re-add typescript declarations
  tsconfig.json
Labels: src

fix: re-add typescript declarations
  tsconfig.json
Labels: src

fix: bump package.json version to v1.24.1 to prepare it for 1.24.2
  jest.config.cjs
  package-lock.json
  package.json
Labels: src

1.24.2
  package-lock.json
  package.json
Labels: src

1.24.3
  package-lock.json
  package.json
Labels: src

Add a unit tests for typescript types (release-1.24 only)
  package-lock.json
  package.json
  src/types.ts
  test/types.ts
Labels: src

Add a unit tests for typescript types (release-1.24 only)
  package-lock.json
  package.json
  src/types.ts
  test/types.ts
Labels: src

1.24.4
  package-lock.json
  package.json
Labels: src

Move duplicated test setup to a common function, types test
  package-lock.json
  package.json
  src/samplers/interval_worker_pool.ts
  test/e2e/__image_snapshots__/graphs-test-js-function-plot-should-evaluate-with-multiple-samples-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-js-function-plot-should-render-a-grid-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-js-function-plot-should-render-annotations-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-js-function-plot-should-render-closed-paths-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-js-function-plot-should-render-different-graph-types-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-js-function-plot-should-render-distinct-domains-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-js-function-plot-should-render-logarithmic-scales-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-destroy-the-svg-node-on-destroy-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-evaluate-with-multiple-samples-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-a-grid-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-an-x-2-graph-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-annotations-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-closed-paths-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-distinct-domains-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-logarithmic-scales-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-text-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-with-additional-options-1-snap.png
  test/e2e/graphs.test.js
  test/e2e/graphs.test.ts
  test/e2e/snippets.ts
  test/types.ts
Labels: src

docs: instructions to run unit tests
  DEVELOPMENT.md
  src/samplers/interval_worker_pool.ts
Labels: documentation, src

1.25.0-0
  package-lock.json
  package.json
Labels: src

Copy .mjs files from samplers/ to the dist directory
  package.json
Labels: src

fix: make some IntervalTask properties required, added comments in tests
  src/globals.mjs
  src/samplers/interval_worker_pool.ts
  test/e2e/graphs.test.ts
  test/e2e/snippets.ts
Labels: src

fix: move web-worker to be a dependency, reorder exports in package.json
  package-lock.json
  package.json
Labels: src

2.0.0-0
  package-lock.json
  package.json
Labels: src

feat: e2e test for the asynchronous renderer
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-x-2-async-1-snap.png
  test/e2e/graphs.test.ts
  test/e2e/snippets.ts
Labels: src

feat: add a global method to check if the worker pool was initialized.
  src/globals.mjs
  src/index.ts
Labels: src

feat: remove support for automatic usage of the mathjs sampler
  site/index.html
  site/js/site.js
  site/partials/examples.html
  src/index.ts
  src/samplers/eval.mjs
  src/types.ts
Labels: src, site

feat: remove support for automatic usage of the mathjs sampler
  site/index.html
  site/js/site.js
  site/partials/examples.html
  src/index.ts
  src/samplers/eval.mjs
  src/types.ts
Labels: src, site

docs: update instructions to create subfolders to deploy in gh-pages
  DEVELOPMENT.md
  package.json
  scripts/generate-examples.cjs
Labels: documentation, src

docs: update instructions to create subfolders to deploy in gh-pages
  DEVELOPMENT.md
  package.json
  scripts/generate-examples.cjs
Labels: documentation, src

Use prettier in all the files in the codebase.
  .github/workflows/build-and-test.yml
  .prettierignore
  README.md
  design/pipeline.md
  design/web-workers.md
  package-lock.json
  package.json
  site/css/main.css
  site/css/reset.css
  site/index.html
  site/jest-function-plot.html
  site/playground-render-as-img.html
  site/playground-scale.html
  site/playground.html
  site/tpl/recipes.md
  src/plugins/index.js
  src/plugins/zoom-box.js
  src/polyfills.ts
  src/samplers/eval.mjs
  src/tip.ts
  tsconfig.json
Labels: documentation, src, site, automation

Use prettier in all the files in the codebase.
  .github/workflows/build-and-test.yml
  .prettierignore
  README.md
  design/pipeline.md
  design/web-workers.md
  package-lock.json
  package.json
  site/css/main.css
  site/css/reset.css
  site/index.html
  site/jest-function-plot.html
  site/playground-render-as-img.html
  site/playground-scale.html
  site/playground.html
  site/tpl/recipes.md
  src/plugins/index.js
  src/plugins/zoom-box.js
  src/polyfills.ts
  src/samplers/eval.mjs
  src/tip.ts
  tsconfig.json
Labels: documentation, src, site, automation

Add the sticky positioning to center the origin axes
  src/chart.ts
  src/types.ts
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-with-different-postition-of-the-axes-1-snap.png
  test/e2e/snippets.ts
Labels: src

Add the sticky positioning to center the origin axes
  src/chart.ts
  src/types.ts
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-with-different-postition-of-the-axes-1-snap.png
  test/e2e/snippets.ts
Labels: src

Add the sticky positioning to center the origin axes
  src/chart.ts
  src/types.ts
Labels: src

Add the sticky positioning to center the origin axes
  src/chart.ts
  src/types.ts
Labels: src

1.25.0
  package-lock.json
  package.json
Labels: src

Change axis API from xAxis, yAxis to x and y.
  site/js/site.js
  site/partials/examples.html
  site/playground.html
  src/chart.ts
  src/evaluate-datum.test.js
  src/evaluate-datum.ts
  src/types.ts
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-with-different-position-of-the-axes-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-with-different-postition-of-the-axes-1-snap.png
  test/e2e/snippets.ts
Labels: src, site, tests

Change axis API from xAxis, yAxis to x and y.
  site/js/site.js
  site/partials/examples.html
  site/playground.html
  src/chart.ts
  src/evaluate-datum.test.js
  src/evaluate-datum.ts
  src/types.ts
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-with-different-position-of-the-axes-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-with-different-postition-of-the-axes-1-snap.png
  test/e2e/snippets.ts
Labels: src, site, tests

Remove check-dts dependency
  package.json
  test/e2e/graphs.test.ts
Labels: src

Remove check-dts dependency
  package.json
  test/e2e/graphs.test.ts
Labels: src

Remove web-worker
  package-lock.json
  package.json
  src/samplers/interval_worker_pool.ts
Labels: src

Remove check-dts dependency
  test/types.ts
Labels: src

Remove check-dts dependency
  test/types.ts
Labels: src

Move web-workers to be a dev-dependency and not used in the prod bundle
  package-lock.json
  package.json
  site/jest-function-plot.html
  site/playground.html
  src/index.ts
  src/perf/interval-pipeline.ts
  src/samplers/interval_worker_pool.ts
Labels: src, site

Move web-workers to be a dev-dependency and not used in the prod bundle
  package-lock.json
  package.json
  site/jest-function-plot.html
  site/playground.html
  src/index.ts
  src/perf/interval-pipeline.ts
  src/samplers/interval_worker_pool.ts
Labels: src, site

Refactor private method names and mark them as private
  src/chart.ts
  src/index.ts
Labels: src

Rename events emitted and add new events before:plot and after:plot
  src/chart.ts
Labels: src

Add a test to check the in-place update feature.
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-update-the-graph-using-multiple-renders-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-update-the-graph-using-multiple-renders-2-snap.png
  test/e2e/graphs.test.ts
Labels: src
