Repository mauriciopoppe/function-plot, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, src, storybook, site, tests, automation, invalid

Add an example of `position: 'sticky'`
  site/js/site.js
  site/partials/examples.html
Labels: src, site

Add an example of `position: 'sticky'`
  site/js/site.js
  site/partials/examples.html
Labels: src, site

Split FunctionPlotDatum types into multiple types
  package.json
  src/datum-defaults.ts
  src/graph-types/interval.ts
  src/graph-types/text.ts
  src/helpers/derivative.ts
  src/helpers/secant.ts
  src/samplers/builtIn.ts
  src/samplers/interval_worker_pool.ts
  src/types.ts
  test/e2e/snippets.ts
  tsconfig.json
Labels: src

Split FunctionPlotDatum types into multiple types
  package.json
  src/datum-defaults.ts
  src/graph-types/interval.ts
  src/graph-types/text.ts
  src/helpers/derivative.ts
  src/helpers/secant.ts
  src/samplers/builtIn.ts
  src/samplers/interval_worker_pool.ts
  src/types.ts
  test/e2e/snippets.ts
  tsconfig.json
Labels: src

Include more tests from site.js into the snapshot testsuite
  site/js/site.js
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-multiple-graphs-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-a-parametric-function-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-a-polar-function-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-an-implicit-function-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-derivative-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-different-graph-types-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-nth-root-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-points-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-secants-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-vectors-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-with-sticky-axes-1-snap.png
  test/e2e/snippets.ts
Labels: src, site

Make sure to reset the style of the axes when setting positions.
  src/chart.ts
Labels: src

Include more tests from site.js into the snapshot testsuite
  site/js/site.js
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-multiple-graphs-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-a-parametric-function-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-a-polar-function-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-an-implicit-function-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-derivative-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-different-graph-types-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-nth-root-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-points-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-secants-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-vectors-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-with-sticky-axes-1-snap.png
  test/e2e/snippets.ts
Labels: src, site

Include commit in bundle, update examples using new types for axis
  README.md
  site/partials/examples.html
  src/index.ts
  webpack.config.cjs
Labels: documentation, src, site

Refactor annotation API to use label to be consistent with axis
  jest.config.cjs
  src/helpers/annotations.ts
  src/types.ts
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-destroy-the-svg-node-on-destroy-1-snap.png
  test/e2e/snippets.ts
Labels: src

Refactor annotation API to use label to be consistent with axis
  jest.config.cjs
  src/helpers/annotations.ts
  src/types.ts
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-destroy-the-svg-node-on-destroy-1-snap.png
  test/e2e/snippets.ts
Labels: src

Add new methods to do datum defaults and validation
  src/chart.ts
  src/datum-defaults.ts
  src/datum-validation.ts
  src/graph-types/interval.ts
  src/types.ts
  src/utils.mjs
  test/e2e/graphs.test.ts
Labels: src

Add new methods to do datum defaults and validation
  src/chart.ts
  src/datum-defaults.ts
  src/datum-validation.ts
  src/graph-types/interval.ts
  src/types.ts
  src/utils.mjs
  test/e2e/graphs.test.ts
Labels: src

Setup caching to speed up CI builds
  .github/stale.yml
  .github/workflows/build-and-test.yml
Labels: src, automation

Fix annotation update on 1.x branch.
  src/helpers/annotations.ts
Labels: src

Update annotation text on selection update
  src/chart.ts
  src/helpers/annotations.ts
Labels: src

Fix annotation update on 1.x branch.
  src/helpers/annotations.ts
Labels: src

1.25.1
  package-lock.json
  package.json
Labels: src

Update annotation text on selection update
  src/chart.ts
  src/helpers/annotations.ts
Labels: src

Create a marker per vector
  .github/workflows/build-and-test.yml
  package-lock.json
  package.json
  src/chart.ts
  src/datum-defaults.ts
  src/graph-types/polyline.ts
  src/types.ts
  src/utils.mjs
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-destroy-the-svg-node-on-destroy-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-evaluate-with-multiple-samples-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-multiple-graphs-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-a-grid-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-a-parametric-function-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-a-polar-function-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-an-implicit-function-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-an-x-2-graph-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-annotations-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-closed-paths-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-derivative-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-different-graph-types-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-distinct-domains-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-logarithmic-scales-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-nth-root-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-points-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-secants-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-text-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-vectors-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-with-additional-options-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-with-sticky-axes-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-x-2-async-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-update-the-graph-using-multiple-renders-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-update-the-graph-using-multiple-renders-2-snap.png
  test/e2e/graphs.test.ts
Labels: src, automation

Create a marker per vector
  .github/workflows/build-and-test.yml
  package-lock.json
  package.json
  src/chart.ts
  src/datum-defaults.ts
  src/graph-types/polyline.ts
  src/types.ts
  src/utils.mjs
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-destroy-the-svg-node-on-destroy-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-evaluate-with-multiple-samples-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-multiple-graphs-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-a-grid-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-a-parametric-function-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-a-polar-function-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-an-implicit-function-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-an-x-2-graph-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-annotations-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-closed-paths-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-derivative-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-different-graph-types-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-distinct-domains-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-logarithmic-scales-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-nth-root-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-points-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-secants-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-text-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-vectors-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-with-additional-options-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-with-sticky-axes-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-x-2-async-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-update-the-graph-using-multiple-renders-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-update-the-graph-using-multiple-renders-2-snap.png
  test/e2e/graphs.test.ts
Labels: src, automation

Make axis <path> elements color be currentColor
  src/chart.ts
  src/datum-defaults.test.ts
  src/samplers/interval.ts
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-a-grid-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-an-x-2-graph-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-logarithmic-scales-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-with-additional-options-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-with-sticky-axes-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-x-2-async-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-update-the-graph-using-multiple-renders-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-update-the-graph-using-multiple-renders-2-snap.png
Labels: src

Make axis <path> elements color be currentColor
  src/chart.ts
  src/datum-defaults.test.ts
  src/samplers/interval.ts
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-a-grid-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-an-x-2-graph-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-logarithmic-scales-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-with-additional-options-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-with-sticky-axes-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-x-2-async-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-update-the-graph-using-multiple-renders-1-snap.png
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-update-the-graph-using-multiple-renders-2-snap.png
Labels: src

Update dependabot rules so that it only targets prod dependencies
  .github/dependabot.yml
Labels: src

Update package.json
  package.json
Labels: src

Fix polyline disappear when yAxis inverted
  src/graph-types/polyline.ts
Labels: src

Fix #344 Scatter graph updates
  src/chart.ts
Labels: src

Make prettier ignore .github
  .prettierignore
Labels: src

Remove extra default value
  src/chart.ts
Labels: src

Use a web-worker version that can work in both node and the browser
  package-lock.json
  package.json
  src/perf/interval-pipeline.ts
  src/samplers/interval_worker_pool.ts
Labels: src

Use a web-worker version that can work in both node and the browser
  package-lock.json
  package.json
  src/perf/interval-pipeline.ts
  src/samplers/interval_worker_pool.ts
Labels: src

Reference function-plot.js directly from index.html
  .gitignore
  package.json
  site/index.html
Labels: src, site

Reference function-plot.js directly from index.html
  .gitignore
  package.json
  site/index.html
Labels: src, site

Rebase through comment
  .github/workflows/rebase.yml
Labels: src, automation

Rebase through comment
  .github/workflows/rebase.yml
Labels: src, automation

Update rebase.yml
  .github/workflows/rebase.yml
Labels: src, automation

Fix #342 polyline disappear when yAxis inverted
  src/graph-types/polyline.ts
Labels: src

Make async tests wait longer
  test/e2e/graphs.test.ts
Labels: src

Make async tests wait longer
  test/e2e/graphs.test.ts
Labels: src

Fix #342 polyline disappear when yAxis inverted
  src/graph-types/polyline.ts
Labels: src

Add graphType to key
  src/chart.ts
Labels: src

.github/labeler.yml:

documentation:
  - 'README.md'
  - 'DEVELOPMENT.md'

src:
  - 'src/**/*'
  - '!src/stories/*'

storybook:
  - '.storybook/*'
  - 'src/stories/*'

site:
  - 'site/**'
  - 'site.js'

tests:
  - 'src/**/*.test.js'
  - 'jest.config.js'

automation:
  - '.github/workflows/*'

invalid:
  - 'LICENSE'
