Repository mauriciopoppe/function-plot, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, src, storybook, site, tests, automation, invalid

.github/labeler.yml:

documentation:
  - 'README.md'
  - 'DEVELOPMENT.md'

src:
  - 'src/**/*'
  - '!src/stories/*'

storybook:
  - '.storybook/*'
  - 'src/stories/*'

site:
  - 'site/**'
  - 'site.js'

tests:
  - 'src/**/*.test.js'
  - 'jest.config.js'

automation:
  - '.github/workflows/*'

invalid:
  - 'LICENSE'

Threadpool rejects tasks in the queue that are obsolete.
  site/playground.html
  src/samplers/interval.ts
  src/samplers/interval.worker.mjs
  src/samplers/interval_worker_pool.ts
Labels: src, site

docs: pointer to web workers design doc in the README
  README.md
Labels: documentation, src

docs: use webWorkers in public docs.
  site/index.html
  site/js/site.js
  site/partials/examples.html
  site/playground.html
Labels: src, site

docs: use webWorkers in public docs.
  site/index.html
  site/js/site.js
  site/partials/examples.html
  site/playground.html
Labels: src, site

docs: update the design doc with the implementation info
  design/web-workers.md
  src/samplers/interval.ts
Labels: src

Introduce a web worker pool to evaluate interval functions in web workers
  .gitignore
  babel.config.cjs
  design/web-workers.md
  jest.config.cjs
  package-lock.json
  package.json
  site/index.html
  site/jest-function-plot.html
  site/playground.html
  src/evaluate.test.js
  src/evaluate.ts
  src/globals.ts
  src/graph-types/interval.ts
  src/graph-types/polyline.ts
  src/graph-types/scatter.ts
  src/index.ts
  src/perf/interval-pipeline.ts
  src/samplers/index.ts
  src/samplers/interval.test.ts
  src/samplers/interval.ts
  src/samplers/interval.worker.ts
  src/samplers/interval_worker_pool.ts
  src/samplers/types.ts
  src/types.ts
  src/utils.ts
  tsconfig.json
  webpack.config.cjs
Labels: src, site, tests

feat: add perf test comparing the performance of web workers and current algorithm
  package-lock.json
  package.json
  src/helpers/derivative.ts
  src/helpers/eval.mjs
  src/helpers/secant.ts
  src/index.ts
  src/perf/interval-pipeline.ts
  src/samplers/builtIn.ts
  src/samplers/interval.ts
  src/samplers/interval.worker.mjs
  src/samplers/interval_worker_pool.ts
  src/tip.ts
  tsconfig.json
Labels: src

docs: pointer to web workers design doc in the README
  README.md
Labels: documentation, src

Skip working on low priority tasks because of a new oncoming task.
  site/playground.html
  src/chart.ts
  src/perf/interval-pipeline.ts
  src/samplers/interval.ts
  src/samplers/interval.worker.mjs
  src/samplers/interval_worker_pool.ts
Labels: src, site

Threadpool rejects tasks in the queue that are obsolete.
  site/playground.html
  src/samplers/interval.ts
  src/samplers/interval.worker.mjs
  src/samplers/interval_worker_pool.ts
Labels: src, site

Pass a Float32 array back and forth between the main thread and workers
  site/playground.html
  src/chart.ts
  src/evaluate.ts
  src/globals.mjs
  src/graph-types/interval.ts
  src/graph-types/polyline.ts
  src/graph-types/scatter.ts
  src/graph-types/text.ts
  src/helpers/derivative.ts
  src/helpers/secant.ts
  src/index.ts
  src/perf/interval-pipeline.ts
  src/samplers/builtIn.ts
  src/samplers/interval.test.ts
  src/samplers/interval.ts
  src/samplers/interval.worker.mjs
  src/samplers/interval_worker_pool.ts
  src/samplers/types.ts
  src/tip.ts
  src/utils.mjs
  src/utils.test.ts
  src/utils.ts
Labels: src, site

Updates
  docs/assets/search.js
  docs/classes/Chart.html
  docs/functions/EvalBuiltIn.html
  docs/functions/EvalInterval.html
  docs/functions/default-1.html
  docs/functions/registerGraphType.html
  docs/functions/withWebWorkers.html
  docs/index.html
  docs/interfaces/ChartMeta.html
  docs/interfaces/ChartMetaMargin.html
  docs/interfaces/FunctionPlotAnnotation.html
  docs/interfaces/FunctionPlotDatum.html
  docs/interfaces/FunctionPlotDatumDerivative.html
  docs/interfaces/FunctionPlotDatumScope.html
  docs/interfaces/FunctionPlotDatumSecant.html
  docs/interfaces/FunctionPlotOptions.html
  docs/interfaces/FunctionPlotOptionsAxis.html
  docs/interfaces/FunctionPlotTip.html
  docs/interfaces/Interval.html
  docs/modules.html
  docs/modules/default.html
  docs/types/Function.html
  docs/types/FunctionPlotScale.html
  docs/types/GraphTypeBuilder.html
  docs/types/GraphTypePlotter.html
  docs/variables/default._eval.html
  docs/variables/default.graphTypes.html
  docs/variables/default.withWebWorkers.html
  index.html
  jest-function-plot.html
  js/117.function-plot.js
  js/393.function-plot.js
  js/59.function-plot.js
  js/772.function-plot.js
  js/891.function-plot.js
  js/asyncIntervalEvaluator.function-plot.js
  js/function-plot.js
  js/site.js
  partials/examples.html
  playground.html
Labels: src

Updates
  docs/assets/search.js
  docs/classes/Chart.html
  docs/functions/EvalBuiltIn.html
  docs/functions/EvalInterval.html
  docs/functions/default-1.html
  docs/functions/registerGraphType.html
  docs/index.html
  docs/interfaces/ChartMeta.html
  docs/interfaces/ChartMetaMargin.html
  docs/interfaces/FunctionPlotAnnotation.html
  docs/interfaces/FunctionPlotDatum.html
  docs/interfaces/FunctionPlotDatumDerivative.html
  docs/interfaces/FunctionPlotDatumScope.html
  docs/interfaces/FunctionPlotDatumSecant.html
  docs/interfaces/FunctionPlotOptions.html
  docs/interfaces/FunctionPlotOptionsAxis.html
  docs/interfaces/FunctionPlotTip.html
  docs/interfaces/Interval.html
  docs/modules.html
  docs/modules/default.html
  docs/types/Function.html
  docs/types/FunctionPlotScale.html
  docs/types/GraphTypeBuilder.html
  docs/types/GraphTypePlotter.html
  docs/types/TGlobals.html
  docs/variables/default._eval.html
  docs/variables/default.globals.html
  docs/variables/default.graphTypes.html
  docs/variables/default.withWebWorkers.html
  index.html
  jest-function-plot.html
  js/function-plot.js
  js/site.js
  partials/examples.html
  playground.html
Labels: src

docs: update site startup script
  site/js/site.js
  webpack.config.cjs
Labels: src, site

feat: use webpack top var to specify a location to load web workers from
  package.json
  src/index.ts
  src/samplers/interval.ts
  src/samplers/interval_worker_pool.ts
Labels: src

chore: remove unused files from index directory
  site/.gitattributes
  site/.htaccess
  site/404.html
  site/LICENSE.txt
  site/browserconfig.xml
  site/crossdomain.xml
Labels: src, site

fix: index.html no longer shows code beyond examples
  .gitignore
  site/js/site.js
  site/partials/examples.html
Labels: src, site

Updates
  docs/classes/Chart.html
  docs/functions/EvalBuiltIn.html
  docs/functions/EvalInterval.html
  docs/functions/default-1.html
  docs/functions/registerGraphType.html
  docs/functions/withWebWorkers.html
  docs/interfaces/ChartMeta.html
  docs/interfaces/ChartMetaMargin.html
  docs/interfaces/FunctionPlotAnnotation.html
  docs/interfaces/FunctionPlotDatum.html
  docs/interfaces/FunctionPlotDatumDerivative.html
  docs/interfaces/FunctionPlotDatumScope.html
  docs/interfaces/FunctionPlotDatumSecant.html
  docs/interfaces/FunctionPlotOptions.html
  docs/interfaces/FunctionPlotOptionsAxis.html
  docs/interfaces/FunctionPlotTip.html
  docs/interfaces/Interval.html
  docs/modules/default.html
  docs/types/Function.html
  docs/types/FunctionPlotScale.html
  docs/types/GraphTypeBuilder.html
  docs/types/GraphTypePlotter.html
  docs/variables/default._eval.html
  docs/variables/default.globals.html
  docs/variables/default.graphTypes.html
  docs/variables/default.withWebWorkers.html
  js/site.js
  partials/examples.html
Labels: src

feature: destroy API to remove the graph and all associated events.
  site/partials/examples.html
  src/chart.ts
  test/e2e/__image_snapshots__/graphs-test-js-function-plot-should-destroy-the-svg-node-on-destroy-1-snap.png
  test/e2e/graphs.test.js
Labels: src, site

feature: destroy API to remove the graph and all associated events.
  site/partials/examples.html
  src/chart.ts
  test/e2e/__image_snapshots__/graphs-test-js-function-plot-should-destroy-the-svg-node-on-destroy-1-snap.png
  test/e2e/graphs.test.js
Labels: src, site

feat: allow customizing the number of groups to use during split
  design/pipeline.md
  design/web-workers.md
  site.cjs
  src/chart.ts
  src/globals.mjs
  src/perf/interval-pipeline.ts
  src/samplers/interval.ts
  src/samplers/types.ts
Labels: src

feat: allow customizing the number of groups to use during split
  design/pipeline.md
  design/web-workers.md
  site.cjs
  src/chart.ts
  src/globals.mjs
  src/perf/interval-pipeline.ts
  src/samplers/interval.ts
  src/samplers/types.ts
Labels: src

Enable multiple types of backpressure algorithms for the web worker pool
  site/playground.html
  src/perf/interval-pipeline.ts
  src/samplers/interval_worker_pool.ts
Labels: src, site

fix: set the backpressure strategy to linear scan
  src/samplers/interval_worker_pool.ts
Labels: src

chore: remove methods that aren't implemented from the docs.
  src/chart.ts
Labels: src

chore: move site example loader to be inline in the index.html page
  site/index.html
  site/js/site.js
  site/partials/examples.html
Labels: src, site

Replace jade with pug, update package-lock.json to fix vulns
  package-lock.json
  package.json
  site.cjs
  site/partials/examples.html
  site/tpl/examples.pug
Labels: src, site

Replace jade with pug, update package-lock.json to fix vulns
  package-lock.json
  package.json
  site.cjs
  site/partials/examples.html
  site/tpl/examples.pug
Labels: src, site

fix: avoid runtime error if the function to render is outside the viewport
  design/web-workers.md
  site/playground.html
  src/chart.ts
  src/graph-types/polyline.ts
  src/samplers/builtIn.test.js
  src/samplers/builtIn.ts
  src/types.ts
Labels: src, site, tests

fix: avoid runtime error if the function to render is outside the viewport
  design/web-workers.md
  site/playground.html
  src/chart.ts
  src/graph-types/polyline.ts
  src/samplers/builtIn.test.js
  src/samplers/builtIn.ts
  src/types.ts
Labels: src, site, tests

Updates
  docs/assets/search.js
  docs/classes/Chart.html
  docs/functions/EvalBuiltIn.html
  docs/functions/EvalInterval.html
  docs/functions/default-1.html
  docs/functions/registerGraphType.html
  docs/functions/withWebWorkers.html
  docs/interfaces/ChartMeta.html
  docs/interfaces/ChartMetaMargin.html
  docs/interfaces/FunctionPlotAnnotation.html
  docs/interfaces/FunctionPlotDatum.html
  docs/interfaces/FunctionPlotDatumDerivative.html
  docs/interfaces/FunctionPlotDatumScope.html
  docs/interfaces/FunctionPlotDatumSecant.html
  docs/interfaces/FunctionPlotOptions.html
  docs/interfaces/FunctionPlotOptionsAxis.html
  docs/interfaces/FunctionPlotTip.html
  docs/interfaces/Interval.html
  docs/modules/default.html
  docs/types/Function.html
  docs/types/FunctionPlotScale.html
  docs/types/GraphTypeBuilder.html
  docs/types/GraphTypePlotter.html
  docs/variables/default._eval.html
  docs/variables/default.globals.html
  docs/variables/default.graphTypes.html
  docs/variables/default.withWebWorkers.html
  index.html
  js/asyncIntervalEvaluator.function-plot.js
  js/asyncIntervalEvaluator.function-plot.js.map
  js/function-plot.js
  js/function-plot.js.map
  js/site.js
  partials/examples.html
  playground.html
  tpl/examples.pug
Labels: src

Updates
  js/117.function-plot.js
  js/117.function-plot.js.map
  js/asyncIntervalEvaluator.function-plot.js
  js/asyncIntervalEvaluator.function-plot.js.map
  js/function-plot.js
  js/function-plot.js.map
Labels: src

chore: move src/helpers/eval.mjs to src/samplers/eval.mjs
  src/helpers/derivative.ts
  src/helpers/secant.ts
  src/index.ts
  src/samplers/builtIn.ts
  src/samplers/eval.mjs
  src/samplers/interval.ts
  src/samplers/interval.worker.mjs
  src/tip.ts
  webpack.config.cjs
Labels: src

chore: rename evaluate.ts to evaluate-datum.ts to better reflect what it does.
  src/evaluate-datum.test.js
  src/evaluate-datum.ts
  src/graph-types/interval.ts
  src/graph-types/polyline.ts
  src/graph-types/scatter.ts
Labels: src, tests

Update library path imports to conform to esm modules
  .eslintrc.cjs
  .eslintrc.json
  babel.config.cjs
  package-lock.json
  package.json
  src/chart.ts
  src/datum-defaults.ts
  src/evaluate-datum.ts
  src/graph-types/index.ts
  src/graph-types/interval.ts
  src/graph-types/polyline.ts
  src/graph-types/scatter.ts
  src/graph-types/text.ts
  src/graph-types/types.ts
  src/helpers/annotations.ts
  src/helpers/derivative.ts
  src/helpers/index.ts
  src/helpers/secant.ts
  src/index.ts
  src/perf/interval-pipeline.ts
  src/samplers/builtIn.test.js
  src/samplers/builtIn.ts
  src/samplers/index.ts
  src/samplers/interval.test.ts
  src/samplers/interval.ts
  src/samplers/interval_worker_pool.ts
  src/samplers/types.ts
  src/tip.ts
  tsconfig.json
  webpack.config.cjs
Labels: src, tests

fix: use ts-jest-resolver to resolve compiled ts files from jest
  jest.config.cjs
  package-lock.json
  package.json
  src/evaluate-datum.test.js
Labels: src, tests

fix: use ts-jest-resolver to resolve compiled ts files from jest
  jest.config.cjs
  package-lock.json
  package.json
  src/evaluate-datum.test.js
Labels: src, tests

Update library path imports to conform to esm modules
  .eslintrc.cjs
  .eslintrc.json
  babel.config.cjs
  package-lock.json
  package.json
  src/chart.ts
  src/datum-defaults.ts
  src/evaluate-datum.ts
  src/graph-types/index.ts
  src/graph-types/interval.ts
  src/graph-types/polyline.ts
  src/graph-types/scatter.ts
  src/graph-types/text.ts
  src/graph-types/types.ts
  src/helpers/annotations.ts
  src/helpers/derivative.ts
  src/helpers/index.ts
  src/helpers/secant.ts
  src/index.ts
  src/perf/interval-pipeline.ts
  src/samplers/builtIn.test.js
  src/samplers/builtIn.ts
  src/samplers/index.ts
  src/samplers/interval.test.ts
  src/samplers/interval.ts
  src/samplers/interval_worker_pool.ts
  src/samplers/types.ts
  src/tip.ts
  tsconfig.json
  webpack.config.cjs
Labels: src, tests

fix: re-add typescript declarations
  tsconfig.json
Labels: src

fix: re-add typescript declarations
  tsconfig.json
Labels: src
