Repository mauriciopoppe/function-plot, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, src, storybook, site, tests, automation, invalid

ci: make browser tests runner-safe
  .github/workflows/build-and-test.yml
  test/e2e/graphs.test.js
Labels: src, automation

ci: make browser tests runner-safe
  .github/workflows/build-and-test.yml
  test/e2e/graphs.test.js
Labels: src, automation

refactor: address polar grid review feedback
  README.md
  site/js/site.js
  src/chart.test.ts
  src/chart.ts
  src/polar-grid.ts
  test/e2e/graphs.test.js
Labels: documentation, src, site

test: add polar grid image snapshot
  test/e2e/__image_snapshots__/graphs-test-js-function-plot-should-render-a-polar-grid-1-snap.png
  test/e2e/graphs.test.js
Labels: src

fix: improve polar grid layout and preserve zoom
  src/chart.ts
  src/polar-grid.test.ts
  src/polar-grid.ts
  src/types.ts
  test/e2e/__image_snapshots__/graphs-test-js-function-plot-should-render-a-polar-grid-1-snap.png
  test/e2e/polar-grid.test.js
Labels: src

refactor: store coordinate state in options
  src/chart.ts
  src/types.ts
  test/e2e/polar-grid.test.js
Labels: src

refactor: address polar grid review feedback
  README.md
  site/js/site.js
  src/chart.test.ts
  src/chart.ts
  src/polar-grid.ts
  test/e2e/graphs.test.js
Labels: documentation, src, site

refactor: store coordinate state in options
  src/chart.ts
  src/types.ts
  test/e2e/polar-grid.test.js
Labels: src

fix: refine polar grid labels and clipping
  README.md
  src/polar-grid.test.ts
  src/polar-grid.ts
  src/types.ts
  test/e2e/polar-grid.test.js
  test/types.ts
Labels: documentation, src

feat: add opt-in polar coordinate grid
  README.md
  src/chart.ts
  src/polar-grid.test.ts
  src/polar-grid.ts
  src/types.ts
  test/e2e/polar-grid.test.js
  test/types.ts
Labels: documentation, src

test: add polar grid image snapshot
  test/e2e/__image_snapshots__/graphs-test-js-function-plot-should-render-a-polar-grid-1-snap.png
  test/e2e/graphs.test.js
Labels: src

fix: improve polar grid layout and preserve zoom
  src/chart.ts
  src/polar-grid.test.ts
  src/polar-grid.ts
  src/types.ts
  test/e2e/__image_snapshots__/graphs-test-js-function-plot-should-render-a-polar-grid-1-snap.png
  test/e2e/polar-grid.test.js
Labels: src

fix(build): exclude tests from production tsc
  tsconfig.json
Labels: src

ci: avoid browser download in tests
  .github/workflows/build-and-test.yml
Labels: src, automation

.github/labeler.yml:

documentation:
  - 'README.md'
  - 'DEVELOPMENT.md'

src:
  - 'src/**/*'
  - '!src/stories/*'

storybook:
  - '.storybook/*'
  - 'src/stories/*'

site:
  - 'site/**'
  - 'site.js'

tests:
  - 'src/**/*.test.js'
  - 'jest.config.js'

automation:
  - '.github/workflows/*'

invalid:
  - 'LICENSE'
