Repository mauriciopoppe/function-plot, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, src, storybook, site, tests, automation, invalid

.github/labeler.yml:

documentation:
  - 'README.md'
  - 'DEVELOPMENT.md'

src:
  - 'src/**/*'
  - '!src/stories/*'

storybook:
  - '.storybook/*'
  - 'src/stories/*'

site:
  - 'site/**'
  - 'site.js'

tests:
  - 'src/**/*.test.js'
  - 'jest.config.js'

automation:
  - '.github/workflows/*'

invalid:
  - 'LICENSE'

Add graphType to key
  src/chart.ts
Labels: src

Move types around
  .prettierignore
  site/playground-rerender.html
  src/chart.ts
  src/samplers/builtIn.ts
  src/samplers/types.ts
Labels: src, site

Move types around
  .prettierignore
  site/playground-rerender.html
  src/chart.ts
  src/samplers/builtIn.ts
  src/samplers/types.ts
Labels: src, site

Move grid option to the axis
  site/js/site.js
  site/partials/examples.html
  site/playground-rerender.html
  src/chart.ts
  src/graph-types/scatter.ts
  src/types.ts
  test/e2e/graphs.test.ts
  test/e2e/snippets.ts
Labels: src, site

Move grid option to the axis
  site/js/site.js
  site/partials/examples.html
  site/playground-rerender.html
  src/chart.ts
  src/graph-types/scatter.ts
  src/types.ts
  test/e2e/graphs.test.ts
  test/e2e/snippets.ts
Labels: src, site

Mention that items of data should be replaced instead of updated inplace
  site/js/site.js
  site/partials/examples.html
Labels: src, site

Updates
  master/js/site.js
  master/partials/examples.html
Labels: src

Enable option grid in the top level configuration object.
  site/js/site.js
  site/partials/examples.html
  src/chart.ts
  src/types.ts
Labels: src, site

Enable option grid in the top level configuration object.
  site/js/site.js
  site/partials/examples.html
  src/chart.ts
  src/types.ts
Labels: src, site

Refactor graph types to classes.
  site/playground-rerender.html
  site/playground.html
  src/chart.ts
  src/globals.mjs
  src/graph-types/index.ts
  src/graph-types/interval.ts
  src/graph-types/mark.ts
  src/graph-types/polyline.ts
  src/graph-types/scatter.ts
  src/graph-types/text.ts
  src/helpers/derivative.ts
  src/helpers/index.ts
  src/helpers/secant.ts
  src/index.ts
  src/samplers/eval.mjs
  src/types.ts
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-using-the-exported-functions-1-snap.png
  test/e2e/snippets.ts
Labels: src, site

Refactor graph types to classes.
  site/playground-rerender.html
  site/playground.html
  src/chart.ts
  src/globals.mjs
  src/graph-types/index.ts
  src/graph-types/interval.ts
  src/graph-types/mark.ts
  src/graph-types/polyline.ts
  src/graph-types/scatter.ts
  src/graph-types/text.ts
  src/helpers/derivative.ts
  src/helpers/index.ts
  src/helpers/secant.ts
  src/index.ts
  src/samplers/eval.mjs
  src/types.ts
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-using-the-exported-functions-1-snap.png
  test/e2e/snippets.ts
Labels: src, site

Refactor exported types in src/index.ts
  src/chart.ts
  src/graph-types/index.ts
  src/graph-types/interval.ts
  src/graph-types/mark.ts
  src/graph-types/types.ts
  src/index.ts
  src/tip.ts
  src/types.ts
Labels: src

Refactor exported types in src/index.ts
  src/chart.ts
  src/graph-types/index.ts
  src/graph-types/interval.ts
  src/graph-types/mark.ts
  src/graph-types/types.ts
  src/index.ts
  src/tip.ts
  src/types.ts
Labels: src

Clean README.md links
  README.md
Labels: documentation, src

Remove src/plugins
  README.md
  src/plugins/index.js
  src/plugins/zoom-box.js
Labels: documentation, src

Refactor annotation to a class
  site/js/site.js
  site/partials/examples.html
  src/chart.ts
  src/graph-types/annotation.ts
  src/graph-types/index.ts
  src/helpers/annotations.ts
Labels: src, site

Refactor annotation to a class
  site/js/site.js
  site/partials/examples.html
  src/chart.ts
  src/graph-types/annotation.ts
  src/graph-types/index.ts
  src/helpers/annotations.ts
Labels: src, site

Bump to typescript 5
  .github/workflows/build-and-test.yml
  babel.config.cjs
  jest.config.cjs
  package-lock.json
  package.json
  src/chart.ts
  src/datum-defaults.test.ts
  src/datum-defaults.ts
  src/datum-validation.ts
  src/evaluate-datum.test.js
  src/evaluate-datum.ts
  src/graph-types/annotation.ts
  src/graph-types/index.ts
  src/graph-types/interval.ts
  src/graph-types/mark.ts
  src/graph-types/polyline.ts
  src/graph-types/scatter.ts
  src/graph-types/text.ts
  src/helpers/derivative.ts
  src/helpers/index.ts
  src/helpers/secant.ts
  src/index.ts
  src/perf/interval-pipeline.ts
  src/samplers/builtIn.ts
  src/samplers/interval.ts
  src/samplers/interval_worker_pool.ts
  src/samplers/types.ts
  src/tip.ts
  src/types.ts
  test/e2e/snippets.ts
  tsconfig.json
Labels: src, tests, automation

Bump to typescript 5
  .github/workflows/build-and-test.yml
  babel.config.cjs
  jest.config.cjs
  package-lock.json
  package.json
  src/chart.ts
  src/datum-defaults.test.ts
  src/datum-defaults.ts
  src/datum-validation.ts
  src/evaluate-datum.test.js
  src/evaluate-datum.ts
  src/graph-types/annotation.ts
  src/graph-types/index.ts
  src/graph-types/interval.ts
  src/graph-types/mark.ts
  src/graph-types/polyline.ts
  src/graph-types/scatter.ts
  src/graph-types/text.ts
  src/helpers/derivative.ts
  src/helpers/index.ts
  src/helpers/secant.ts
  src/index.ts
  src/perf/interval-pipeline.ts
  src/samplers/builtIn.ts
  src/samplers/interval.ts
  src/samplers/interval_worker_pool.ts
  src/samplers/types.ts
  src/tip.ts
  src/types.ts
  test/e2e/snippets.ts
  tsconfig.json
Labels: src, tests, automation

Remove jquery dependency from site/index.html
  .prettierignore
  package.json
  site/index.html
  site/js/examples-to-html.cjs
  site/js/examples.js
  site/js/plugins.js
  site/partials/examples.auto.html
  site/partials/examples.pug
  site/partials/recipes.auto.html
  site/partials/recipes.md
Labels: src, site

Remove jquery dependency from site/index.html
  .prettierignore
  package.json
  site/index.html
  site/js/examples-to-html.cjs
  site/js/examples.js
  site/js/plugins.js
  site/partials/examples.auto.html
  site/partials/examples.pug
  site/partials/recipes.auto.html
  site/partials/recipes.md
Labels: src, site

Make annotation a new type of datum
  site/js/vendor/jquery-1.11.2.min.js
  site/js/vendor/modernizr-2.8.3.min.js
  site/playground.html
  src/chart.ts
  src/graph-types/annotation.ts
  src/index.ts
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-annotations-as-datum-1-snap.png
  test/e2e/snippets.ts
Labels: src, site

Make annotation a new type of datum
  site/js/vendor/jquery-1.11.2.min.js
  site/js/vendor/modernizr-2.8.3.min.js
  site/playground.html
  src/chart.ts
  src/graph-types/annotation.ts
  src/index.ts
  test/e2e/__image_snapshots__/graphs-test-ts-function-plot-should-render-annotations-as-datum-1-snap.png
  test/e2e/snippets.ts
Labels: src, site

Refactor helper functions (derivative, secant) to become graph-types
  src/chart.ts
  src/graph-types/derivative.ts
  src/graph-types/helpers.ts
  src/graph-types/interval.ts
  src/graph-types/polyline.ts
  src/graph-types/scatter.ts
  src/graph-types/secant.ts
  src/helpers/derivative.ts
  src/helpers/index.ts
  src/helpers/secant.ts
Labels: src

Refactor helper functions (derivative, secant) to become graph-types
  src/chart.ts
  src/graph-types/derivative.ts
  src/graph-types/helpers.ts
  src/graph-types/interval.ts
  src/graph-types/polyline.ts
  src/graph-types/scatter.ts
  src/graph-types/secant.ts
  src/helpers/derivative.ts
  src/helpers/index.ts
  src/helpers/secant.ts
Labels: src

Rename interval & builtIn eval imports
  src/external.d.ts
  src/samplers/builtIn.ts
  src/samplers/interval.ts
Labels: src

Rename interval & builtIn eval imports
  src/external.d.ts
  src/samplers/builtIn.ts
  src/samplers/interval.ts
Labels: src

Update metadata
  package.json
Labels: src

1.25.2
  package-lock.json
  package.json
Labels: src

Add preversion script
  package.json
Labels: src

1.25.3
  package-lock.json
  package.json
Labels: src

chore: bump dependencies
  .github/FUNDING.yml
  package-lock.json
  package.json
Labels: src

1.25.4
  package-lock.json
  package.json
Labels: src

chore: bump dependencies
  .github/FUNDING.yml
  package-lock.json
  package.json
Labels: src

chore: bump dependencies
  jest-puppeteer.config.cjs
  package-lock.json
  package.json
  site/js/function-plot.js
Labels: src, site

chore: bump dependencies
  jest-puppeteer.config.cjs
  package-lock.json
  package.json
  site/js/function-plot.js
Labels: src, site

docs(api): define scene and mark refactor
  AGENTS.md
  CONTEXT.md
  README.md
  design/README.md
  design/api-refactor.md
  design/vision.md
Labels: documentation, src

docs(api): define scene and mark refactor
  AGENTS.md
  CONTEXT.md
  README.md
  design/README.md
  design/api-refactor.md
  design/vision.md
Labels: documentation, src

feat: add opt-in polar coordinate grid
  README.md
  src/chart.ts
  src/polar-grid.test.ts
  src/polar-grid.ts
  src/types.ts
  test/e2e/polar-grid.test.js
  test/types.ts
Labels: documentation, src

fix: refine polar grid labels and clipping
  README.md
  src/polar-grid.test.ts
  src/polar-grid.ts
  src/types.ts
  test/e2e/polar-grid.test.js
  test/types.ts
Labels: documentation, src
