Repository mauriciopoppe/function-plot, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, src, storybook, site, tests, automation, invalid

.github/labeler.yml:

documentation:
  - 'README.md'
  - 'DEVELOPMENT.md'

src:
  - 'src/**/*'
  - '!src/stories/*'

storybook:
  - '.storybook/*'
  - 'src/stories/*'

site:
  - 'site/**'
  - 'site.js'

tests:
  - 'src/**/*.test.js'
  - 'jest.config.js'

automation:
  - '.github/workflows/*'

invalid:
  - 'LICENSE'

Bump dependencies to the latest version (#212)
  .babelrc
  babel.config.json
  jest.config.js
  package-lock.json
  package.json
  src/stories/FunctionPlot.stories.tsx
  webpack.config.js
Labels: src, storybook, tests

1.23.0
  package-lock.json
  package.json
Labels: src

Fix package-lock.json vulns
  package-lock.json
Labels: src

Bump to interval-arithmetic-eval v0.5.1
  package-lock.json
  package.json
Labels: src

1.23.1
  package-lock.json
  package.json
Labels: src

Apply mod while indexing on globals.COLORS
  package-lock.json
  src/utils.ts
Labels: src

Apply mod while indexing on globals.COLORS (#219)
  package-lock.json
  src/utils.ts
Labels: src

Update dependencies
  DEVELOPMENT.md
  package-lock.json
  package.json
Labels: documentation, src

Update dependencies (#220)
  DEVELOPMENT.md
  package-lock.json
  package.json
Labels: documentation, src

1.23.2
  package-lock.json
  package.json
Labels: src

Import polyfill with imports and not require
  src/index.ts
Labels: src

Import polyfill with imports and not require
  src/index.ts
Labels: src

Update dependencies
  package-lock.json
Labels: src

Updates
  docs/classes/Chart.html
  docs/functions/default-1.html
  docs/interfaces/ChartMeta.html
  docs/modules/default.html
  docs/variables/default._eval.html
  docs/variables/default.globals.html
  docs/variables/default.graphTypes.html
  js/function-plot.js
Labels: src

fix: find if mathjs exists in a better way
  src/helpers/eval.ts
Labels: src

fix: find if mathjs exists in a better way
  src/helpers/eval.ts
Labels: src

Recreate docs and update readme info
  .eslintrc.json
  .storybook/main.js
  README.md
  package-lock.json
  package.json
  src/evaluate.ts
  src/external.d.ts
  src/helpers/eval.ts
  src/helpers/index.ts
  src/index.ts
  src/types.ts
Labels: documentation, src, storybook

Remove storybook
  .github/workflows/build-and-test.yml
  .storybook/main.js
  .storybook/preview.js
  babel.config.js
  babel.config.json
  package-lock.json
  package.json
  src/helpers/annotations.ts
  src/index.ts
  tsconfig.json
Labels: src, storybook, automation

Recreate docs and update readme info
  .eslintrc.json
  .storybook/main.js
  README.md
  package-lock.json
  package.json
  src/evaluate.ts
  src/external.d.ts
  src/helpers/eval.ts
  src/helpers/index.ts
  src/index.ts
  src/types.ts
Labels: documentation, src, storybook

Remove storybook
  .github/workflows/build-and-test.yml
  .storybook/main.js
  .storybook/preview.js
  babel.config.js
  babel.config.json
  package-lock.json
  package.json
  src/helpers/annotations.ts
  src/index.ts
  tsconfig.json
Labels: src, storybook, automation

Updates
  docs/assets/highlight.css
  docs/assets/main.js
  docs/assets/search.js
  docs/assets/style.css
  docs/classes/Chart.html
  docs/functions/EvalBuiltIn.html
  docs/functions/EvalInterval.html
  docs/functions/GraphTypeInterval.html
  docs/functions/GraphTypePolyline.html
  docs/functions/GraphTypeScatter.html
  docs/index.html
  docs/interfaces/ChartMeta.html
  docs/interfaces/ChartMetaMargin.html
  docs/interfaces/FunctionPlotAnnotation.html
  docs/interfaces/FunctionPlotDatum.html
  docs/interfaces/FunctionPlotDatumDerivative.html
  docs/interfaces/FunctionPlotDatumScope.html
  docs/interfaces/FunctionPlotDatumSecant.html
  docs/interfaces/FunctionPlotOptions.html
  docs/interfaces/FunctionPlotOptionsAxis.html
  docs/interfaces/FunctionPlotTip.html
  docs/interfaces/Interval.html
  docs/modules.html
  docs/modules/default.html
  docs/types/Function.html
  docs/variables/default._eval.html
  docs/variables/default.globals.html
  docs/variables/default.graphTypes.html
  js/function-plot.js
Labels: src

Update link to docs
  DEVELOPMENT.md
  README.md
  src/stories/01-Introduction.nostories.mdx
  src/stories/02-PlottingACurve.nostories.mdx
  src/stories/03-AdditionalOptions.nostories.mdx
  src/stories/04-Domain.nostories.mdx
  src/stories/05-NumberOfSamples.nostories.mdx
  src/stories/06-Annotations.nostories.mdx
  src/stories/07-RangeAndClosedPath.nostories.mdx
  src/stories/08-LogarithmicScales.nostories.mdx
  src/stories/09-MultipleGraphs.nostories.mdx
  src/stories/10-GraphTypes.nostories.mdx
  src/stories/11-TIp.nostories.mdx
  src/stories/12-NthRoot.nostories.mdx
  src/stories/13-Secants.nostories.mdx
  src/stories/FunctionPlot.stories.tsx
  src/stories/FunctionPlot.tsx
Labels: documentation, src, storybook

Updates
  docs/classes/Chart.html
  docs/functions/EvalBuiltIn.html
  docs/functions/EvalInterval.html
  docs/functions/GraphTypeInterval.html
  docs/functions/GraphTypePolyline.html
  docs/functions/GraphTypeScatter.html
  docs/functions/default-1.html
  docs/index.html
  docs/interfaces/ChartMeta.html
  docs/interfaces/ChartMetaMargin.html
  docs/interfaces/FunctionPlotAnnotation.html
  docs/interfaces/FunctionPlotDatum.html
  docs/interfaces/FunctionPlotDatumDerivative.html
  docs/interfaces/FunctionPlotDatumScope.html
  docs/interfaces/FunctionPlotDatumSecant.html
  docs/interfaces/FunctionPlotOptions.html
  docs/interfaces/FunctionPlotOptionsAxis.html
  docs/interfaces/FunctionPlotTip.html
  docs/interfaces/Interval.html
  docs/modules/default.html
  docs/types/Function.html
  docs/variables/default._eval.html
  docs/variables/default.globals.html
  docs/variables/default.graphTypes.html
Labels: src

Fixed extension of docs page
  README.md
Labels: documentation, src

feat: if datum.attr.class is set append it to the default class instead of overriding it
  DEVELOPMENT.md
  src/graph-types/interval.ts
  src/graph-types/polyline.ts
  src/graph-types/scatter.ts
Labels: documentation, src

feat: if datum.attr.class is set append it to the default class instead of overriding it
  DEVELOPMENT.md
  src/graph-types/interval.ts
  src/graph-types/polyline.ts
  src/graph-types/scatter.ts
Labels: documentation, src

Updates
  docs/classes/Chart.html
  docs/functions/EvalBuiltIn.html
  docs/functions/EvalInterval.html
  docs/functions/GraphTypeInterval.html
  docs/functions/GraphTypePolyline.html
  docs/functions/GraphTypeScatter.html
  docs/functions/default-1.html
  docs/index.html
  docs/interfaces/ChartMeta.html
  docs/interfaces/ChartMetaMargin.html
  docs/interfaces/FunctionPlotAnnotation.html
  docs/interfaces/FunctionPlotDatum.html
  docs/interfaces/FunctionPlotDatumDerivative.html
  docs/interfaces/FunctionPlotDatumScope.html
  docs/interfaces/FunctionPlotDatumSecant.html
  docs/interfaces/FunctionPlotOptions.html
  docs/interfaces/FunctionPlotOptionsAxis.html
  docs/interfaces/FunctionPlotTip.html
  docs/interfaces/Interval.html
  docs/modules/default.html
  docs/types/Function.html
  docs/variables/default._eval.html
  docs/variables/default.globals.html
  docs/variables/default.graphTypes.html
  js/function-plot.js
  js/playground.js
Labels: src

1.23.3
  package-lock.json
  package.json
Labels: src

fix to use the proper scale for polyline & closed graphs
  src/graph-types/polyline.ts
Labels: src

Revert d3-shape for browserify compat
  dist/function-plot.js
  dist/function-plot.js.map
  package-lock.json
  package.json
Labels: src

revert all d3 libs
  dist/function-plot.js
  dist/function-plot.js.map
  package-lock.json
  package.json
Labels: src

Revert d3 versions
  package-lock.json
Labels: src

fix to use the proper scale for polyline & closed graphs
  src/graph-types/polyline.ts
Labels: src

fix to use the proper scale for polyline & closed graphs
  src/graph-types/polyline.ts
Labels: src

Development instructions to publish a package
  DEVELOPMENT.md
  site/js/playground.js
Labels: documentation, src, site

Demo to render svg as png
  site/render-as-img.html
Labels: src, site

docs: add a hello world example in code
  README.md
Labels: documentation, src

Install events library from npm
  README.md
  package-lock.json
  package.json
Labels: documentation, src

Install events library from npm
  README.md
  package-lock.json
  package.json
Labels: documentation, src

Updates
  docs/assets/highlight.css
  docs/classes/Chart.html
  docs/functions/EvalBuiltIn.html
  docs/functions/EvalInterval.html
  docs/functions/GraphTypeInterval.html
  docs/functions/GraphTypePolyline.html
  docs/functions/GraphTypeScatter.html
  docs/functions/default-1.html
  docs/index.html
  docs/interfaces/ChartMeta.html
  docs/interfaces/ChartMetaMargin.html
  docs/interfaces/FunctionPlotAnnotation.html
  docs/interfaces/FunctionPlotDatum.html
  docs/interfaces/FunctionPlotDatumDerivative.html
  docs/interfaces/FunctionPlotDatumScope.html
  docs/interfaces/FunctionPlotDatumSecant.html
  docs/interfaces/FunctionPlotOptions.html
  docs/interfaces/FunctionPlotOptionsAxis.html
  docs/interfaces/FunctionPlotTip.html
  docs/interfaces/Interval.html
  docs/modules/default.html
  docs/types/Function.html
  docs/variables/default._eval.html
  docs/variables/default.globals.html
  docs/variables/default.graphTypes.html
  js/function-plot.js
  render-as-img.html
Labels: src
